

.point-popup{
  justify-content: center;
  display : flex;
  flex-direction: column;
  text-align: center;
  padding: 1px;
}

.popup-button{
    background: transparent;
    text-align: center;
    margin-top: 10px;
    align-self: center;
    border-width: 1px;
    border-color: #2397F3;
    color: #2397F3;
    cursor: pointer;
    transition: 0.2s ease;
}

.popup-button:hover{
    background-color: #e5f4ff;
}

.popup-text{
    text-align: center;
    font-weight: normal;
    font-size: 13px;
}


.popup-text-lane{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.popup-text-status{
    text-align: center;
    font-weight: normal;
}
.video-container{
    margin: auto;
    height: inherit;
    width: auto;
}

hr {
    border: .25px solid rgba(159, 156, 156, 0.24); /* Or any color/width you prefer */
    width: 100%; /* Adjust the width as needed */
}