html {
  scroll-behavior: smooth;
}

/* Remove link styling by default */
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background: #808080;
  border-radius: 2px;
}

.chart-view-event-detail canvas{
  height: 300px;
}